<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Custom Suite" configfailurepolicy="continue">
    <listeners>
        <listener class-name="RetryListener"/>
    </listeners>
    <test name="CustomSmoke">
        <classes>
            <class name="MyTest"/>
        </classes>
    </test>
</suite>